/* src/app/contact/page.module.css */
/* お問い合わせページのCSS */

/* <Header />を包むコンテナ */
.navContainer {
    position: absolute;
    top: 0;
    right:3%;
    transform: translate(0%,-60%);
    padding-bottom: 50px;
}