/* src/app/item/[id]/SinglePageView.tsx 個別アイテムページのCSS */

/* ↓ これでobject-fit:coverみたいになる。 */
.cardImg {
    width: 100%;
    height: auto;
    padding: 2px;
    border-radius: 5px 5px 0 0;
  }

/* .modalCSS {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
  }
.overlayCSS {
    background-color: rgba(0, 0, 0, 0.75);
}
@media (max-width: 419px) {
    .modalCSS {
      max-width: 95%;
      max-height: 95vh;
      margin: auto;
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  } */
